//header
header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    //上部
    .top {
        width: 100%;
        height: auto;
        background: $headerBg_1;

        .center {
            width: 1400px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0 auto;

            //登入
            form {
                width: auto;
                height: auto;
                display: flex;
                align-items: center;

                label {
                    width: auto;
                    height: auto;
                    margin-right: 20px;
                    position: relative;

                    i {
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        top: 7px;
                        left: 5px;

                        &.ps {
                            background-position: 100%;
                        }
                    }

                    input {
                        width: 170px;
                        height: 30px;
                        background: $inputBg_1;
                        border: 1px solid $inputBorder_1;
                        box-shadow: inset 0px 0px 2px 0px $shadowColor_1;
                        color: $placeholder_1;
                        padding-left: 25px;

                        &::placeholder {
                            font-size: 15px;
                            color: $placeholder_1;
                        }
                    }
                    &.check {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        
                        input {
                            width: 15px;
                            height: 15px;
                            padding: 0;
                            cursor: pointer;

                            &.display {
                                width: 15px;
                                height: 15px;
                            }
                        }

                        span {
                            font-size: 13px;
                            color: $inputBg_1;
                        }
                    }
                }
                //按鈕
                .buttonGroup {
                    width: auto;
                    height: auto;

                    button {
                        width: 77px;
                        height: 35px;
                        background: $buttonbg_1;
                        border-radius: 5px;
                        color: $buttonTxt_1;
                        font-size: 15px;
                        margin-right: 10px;

                        &:hover,&:active,&.active {
                            background: $buttonbg_4;
                            color: $buttonTxt_2;
                        }

                        &:last-child {
                            background: $buttonbg_2;
                            color: $buttonTxt_2;

                            &:hover,&:active,&.active {
                                background: $buttonbg_4;
                                color: $buttonTxt_2;
                            }
                        }
                    }
                }
            }
            // 忘記密碼
            .forget {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0px 1px 5px 0 $shadowColor_1;

                a {
                    font-size: 13px;
                    color: $forgetColor_1;
                    padding: 0 30px;
                }
            }

            // 語言
            .language {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                background: $optionBg_2;

                select {
                    width: 114px;
                    height: 100%;
                    background: transparent;
                    font-size: 13px;
                    color: $selectTxt_1;
                    cursor: pointer;
                    padding-left: 20px;

                    option {
                        background: $optionTxt_1;
                        color: $selectTxt_1;
                    }
                }
                i {
                    width: 8px;
                    height: 8px;
                    background: $optionBg_2;
                    border-width: 0 2px 2px 0;
                    border-style: solid;
                    border-color: $selectTxt_1;
                    transform: rotate(45deg);
                    pointer-events: none;
                    position: absolute;
                    top: 18px;
                    right: 20px;

                }
            }
        }
    }
    //下部
    .bottom {
        width: 100%;
        height: auto;
        background: $headerBg_2;
        box-shadow: 10px 0px 5px 1px $shadowColor_1;

        .center {
            width: 1400px;
            height: 80px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            //logo
            .logo {
                width: 102px;
                height: 84px;
                cursor: pointer;
            }

            .navGroup {
                width: auto;
                height: 100%;
                display: flex;

                li {
                    width: auto;
                    height: 100%;
                    padding: 0 5px;
                    margin: 0 17px;
                    display: flex;
                    align-items: center;
                    border-bottom: 5px solid transparent;
                    cursor: pointer;
                    transition: 0.5s;

                    i {
                        width: 12px;
                        height: 12px;
                        background: $mainColor_1;
                        transform: rotate(45deg);
                    }

                    &:hover,&:active,&.active {
                        border-bottom: 5px solid $navHover_2;
                        transition: 0.5s;

                        a {
                            color: $navHover_2;
                        }

                        i {
                            width: 12px;
                            height: 12px;
                            background: $navBorder_1;
                            transform: rotate(45deg);
                            position: relative;

                            &::after {
                                content: "";
                                background: $downListBg_1;
                                width: 5px;
                                height: 5px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
                    }

                    a {
                        color: $mainColor_1;
                        font-size: 18px;
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    //下拉選單
    .downList {
        width: 100%;
        height: auto;
        position: absolute;
        top: 125px;
        left: 0;
        transition: 0.3s all;
        z-index: 999;
        display: none;

        &.display {
            display: block;
        }
        .listWrap {
            width: 100%;
            height: 230px;
            background: $downListBg_1;

            .center {
                width: 1400px;
                height: 100%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
    
                ol {
                    width: 100%;
                    height: 100%;
                    display: none;
                    align-items: center;
                    
                    &.display {
                        display: flex;
                    }
                    
                    li {
                        width: auto;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        margin: 10px 50px 0 0 ;
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                        p { 
                            font-size: 15px;
                            font-weight: bold;
                            color: #ffffff;
                            padding-top: 8px;
                        }
                    }
                }
            }
        }
    }
}