html {
    width: 100%;
    height: 100%;
 
    body {
        width: 100%;
        min-width: 1903px;
        height: auto;
        overflow: overlay;
        position: relative;
        
        @import "./header";
        @import "./home";
        @import "./footer";
    }
    .bg {
        width: 100%;
        height: 100%;
        // min-height: 1554px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -999;
    }
    //彈窗
    .filter {
        width: 100%;
        height: 100%;
        background: #0000003b;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        display: none;

        &.display {
            display: none;
        }

        // 最新消息
        .popUp {
            width: 842px;
            height: 252px;
            background: #000;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #f3d3a4;
            
            .title {
                width: 840px;
                height: 50px;
                background: #26643d;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #f3d3a4;

                p {
                    font-size: 16px;
                    font-weight: bold;

                }
                .close {
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
            .contentGroup {
                width: 840px;
                height: 200px;
                background: #313131;

                .content {
                    width: 95%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border-bottom: 1px solid #5f5f5f;
                    padding-top: 20px;
                    margin: 0 auto;

                    li {
                        width: 114px;
                        height: auto;
                        margin: 10px 0;
                        border-right: 1px solid #5f5f5f;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        cursor: pointer;

                        &:hover,&:active,&.active {
                            
                            &::after{
                                content:"";
                                width: 114px;
                                height: 2px;
                                background: #289952;
                                position: absolute;
                                bottom: -10px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }

                        &:last-child {
                            border-right:0;
                        }
                        p {
                            font-size: 17px;
                            color: #e6e6e6;
                        }
                    }
                }
                .information {
                    width: 95%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin: 0 auto;

                    li {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-bottom: 1px solid #5f5f5f;
                        padding: 15px 0;

                        p {
                            font-size: 17px;
                            color: #f3d3a4;
                        }
                    }
                }
            }
        }
    }
    aside {
        width: 100%;
        height: auto;
        position: fixed;
        z-index: 999;

        //手機下載
        .download {
            width: auto;
            height: auto;
            position: fixed;
            top: 220px;
            left: 10px;
            cursor: pointer;

            .downloadBg {
                width: 65px;
                height: 186px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                pointer-events: none;
            }

            .txt {
                width: 73px;
                height: 198px;
                background: $downloadBg_1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 2px solid $downloadBorder_1;
                box-shadow:inset -2px -2px 5px $downshadow_1;

                &:hover,&:active,&.active {
                    background: $downloadBg_2;
                }

                i {
                    width: 33px;
                    height: 36px;
                    z-index: 2;
                }

                p {
                    font-size: 22px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    writing-mode: vertical-lr;
                    margin-top: 20px;
                    color: $downloadBorder_1;
                }
            }
        }
        //聯絡
        .service {
            width: auto;
            height: auto;
            position: fixed;
            top: 240px;
            right: 10px;
            cursor: pointer;

            li {
                width: 69px;
                height: 61px;
                background: $downloadBg_1;
                position: relative;
                transition: 0.5s;
                border: 2px solid $downloadBorder_1;
                box-shadow:inset -2px -2px 5px $downshadow_1;
                margin: 10px 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover,&:active,&.active {
                    transition: 0.5s;
                    background: $downloadBg_2;

                }
                .serviceBg {
                    width: 62px;
                    height: 53px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

                p {
                    font-size: 15px;
                    color: $serviceTxt_1;
                }

                i {
                    width: 38px;
                    height: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);

                    &.phone {
                        background-position-x: 0%;
                        background-position-y: 0%;
                    }

                    &.line {
                        background-position-x: 25%;
                        background-position-y: 0%;
                    }

                    &.weChat {
                        background-position-x: 50%;
                        background-position-y: 0%;
                    }
                }
            }
        }
        //回到頂部
        .backTop {
            width: 69px;
            height: 61px;
            background: $backTopBg_1;
            position: fixed;
            bottom: 250px;
            right: 10px;
            display: none;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 2px solid $backTopBorder_1;
            box-shadow:inset -2px -2px 5px $downshadow_1;

            &:hover,&:active,&.active {
                background: $backTopBg_2;
            }

            &.display {
                display: flex;
            }

            .icon {
                width: 24px;
                height: 35px;
            }
        }
    }
}